


<div class="text-center">@*Zasto ima cela klasa za to jedno svojstvo?*@
    <h1 class="display-4">Dobro došli!</h1>
    <h2>Najnovije ponude</h2>
    <table>
        <thead>
            @*sadrzaj tabele*@
        </thead>
        <tbody>
            @*ucitavanje sadrzaja iz tabela*@
        </tbody>
    </table>
    <div class="lista-proizvoda">
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
    </div>
    <a href="#">Vidi još</a>
    <h1>Istaknuta kategorija: Žabe</h1>
    <div class="lista-proizvoda">
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
        <div class="proizvod-container">
            <img src="~/img/zaba.jpg">
            <h6 style="margin-top: 5px; margin-bottom: 5px;">Ime Proizvoda</h6>
            <h6 style="margin-top: 5px; margin-bottom: 5px;">&starf;&starf;&starf;&starf;&star;</h6>
            <a href="#">Ime kategorije</a>
            <div class="cena-container">
                <h6 class="original-cena">600</h6>@*ovo treba da se prikaze samo ako ima akcija*@
                <h6 class="vazeca-cena">500</h6>
            </div>
        </div>
    </div>
    <a href="#">Vidi još</a>
</div>