@{
    ViewData["Title"] = "Početna";
}


<div class="text-center">@*Zasto ima cela klasa za to jedno svojstvo?*@
    <h1 class="display-4">Dobro došli!</h1>
    <h2>Najnovije ponude</h2>
    <table>
        <thead>
            <tr>
                <th>Test1</th>
                <th>Test2</th>
                <th>Test3</th>
            </tr>
        </thead>
        
    </table>
    <a href="#">Vidi još</a>
</div>
<div>
    <h1>Nesto</h1>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
</div>
