@{
    ViewData["Title"] = "Početna";
}


<div class="text-center">@*Zasto ima cela klasa za to jedno svojstvo?*@
    <h1 class="display-4">Dobro došli!</h1>
    <p><a href="#">Ovde</a> možete da vidite najnovije ponude!</p>
</div>
<div>
    <h1>Nesto</h1>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
    <p>tekst</p>
</div>
