@{
    ViewData["Title"] = "Početna";
}



<div class="text-center">
    <h1 class="display-4">Dobro došli!</h1>
    <h2>Pretražite ili <a asp-controller="Proizvod">vidite sve proizvode</a></h2>
    </div>
</div>