@{
    ViewData["Title"] = "Politika privatnosti";
}
<h1>@ViewData["Title"]</h1>

<p>ASP.NET pored početne strane pravi i šablon za stranicu koja sadrži politiku privatnosti.</p>
<p>Pošto aplikacija nije namenjena za stvarnu upotrebu, već kao primer primene ASP.NET-a, ne sadrži ovu stranicu.</p>
